*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
button {
  padding: 0;
}

p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul,
ol[class] {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a, a:hover {
  text-decoration: none;
  background-color: transparent
}

img {
  display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: contain;
}

svg {
  width: inherit;
  height: inherit;
}

div, span {
  cursor: default;
}

button, a, select, input[type="button"] {
  cursor: pointer;
  * {
    cursor: pointer;
  }
}

textarea {
   resize: none;
   outline: none;
}

/* anims removing due to os settings */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}