.theme-light {
  --body-background-color: #f6f6f6;
  --page-background-color: #fff;
  --text-color: #333f48;
  --success-color: #009707;
  --error-color: #ec0404;
  --faded-color: #9b9b9b;
}

.theme-dark {
  --body-background-color: #222222;
  --page-background-color: #1c1e22;
  --text-color: #333f48;
  --success-color: #00c40a;
  --error-color: #ec0404;
  --faded-color: #707070;
}
